# 101 - 120

In [2]:
print(3==5)

False

In [3]:
print(3<5)

True

In [4]:
x=4
print(1<x<5)

True

In [5]:
print((3==3) and (4!=3))

True

In [6]:
print(3=>4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (254355066.py, line 1)

In [7]:
print(3>=4)

False

In [8]:
if 4<3:
    print("hello")

In [9]:
if 4<3:
    print("hello")
else:
    print("hi")

hi

In [11]:
if True:
    print("1")
    print("2")
else:
    print("3")
print("4")

1
2
4

In [12]:
if True:
    if False:
        print("1")
        print("2")
    else:
        print("3")
else:
    print("4")
print("5")

3
5

# 111 - 120

In [14]:
print(str(input()) *2)

안녕하세요
안녕하세요안녕하세요

In [15]:
a=int(input("숫자를 입력하세요: "))
print(a+10)

숫자를 입력하세요: 30
40

In [17]:
a = int(input())
if a % 2 ==0:
    print("짝수")
else:
    print("홀수")

30
짝수

In [18]:
a = int(input())
[print("짝수") if a %2 ==0 else print("혹수")]

30
짝수

[None]

In [21]:
a = int(input())
if a >= 235:
    print("255")
else:
    print(a+20)

240
255

In [23]:
a = int(input())
b = a-20
if b <= 0:
    print("0")
else:
    print(b)

15
0

In [26]:
a = str(input())
h,m = a.split(":")
if m == "00":
    print("정각 입니다")
else:
    print("정각이 아닙니다")

12:00
정각 입니다

In [28]:
a = input()
m = a[-2:]
if m == "00":
    print("정각 입니다")
else:
    print("정각이 아닙니다")

13:00
정각 입니다

In [30]:
fruit = ["사과", "포도", "홍시"]
a = input()
if a in fruit:
    print("정답입니다")
else:
    print("오답입니다")

바나나
오답입니다

In [31]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
a = input()
if a in warn_investment_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고가 아닌 종목입니다")

ms
투자 경고가 아닌 종목입니다

In [33]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input()
if a in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다")

겨울
오답입니다

In [36]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input()
if a in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다")

토마토
정답입니다.

# 121 - 130

In [40]:
a = input()
if a.islower():
    print(a.upper())
else:
    print(a.lower())

T
t

In [45]:
환율 = {"달러":1167,"엔":1.096,"유로":1268,"위안":171}
a = input()
단위 = a.split()[1]
금액 = a.split()[0]
print(int(금액) * int(환율[단위]))

10 유로
12680

In [46]:

a= int(input())
b= int(input())
c= int(input())

print(max(a,b,c))

2
4
6
6

In [48]:
번호앞자리 = {"011":"SKT", "016":"KT","019":"LGU","010":"알수없음"}
a = input()
print("당신은",번호앞자리[a[:3]],"사용자입니다")

019-783-9383
당신은 LGU 사용자입니다

In [50]:
우편번호 = {"강북구":["010","011","012"],"도봉구":["013","014","015"],"노원구":["016","017","018"]}
a = input()
앞자리 = a[:3]
for key, value in 우편번호.items():
    if 앞자리 in value:
        print(key)

01592
도봉구

In [60]:
a = input()
if a.split("-")[1][0] in ["1","3"]:
    print("남자")
else:
    print("여자")

821010-3635210
남자

In [68]:
a = input()

if 0 <= int(a.split("-")[1][1:3]) <=8:
    print("서울")
    
elif 9 <= int(a.split("-")[1][1:3]) <= 12:
    print("부산")
else:
    print("아니다")

821010-1075210
서울

In [65]:
a = "821010-1635210"
print(0 <= int(a.split("-")[1][1:3]) <=8)

False

In [76]:
a = input()
b = a.replace("-","")
c = list(map(int, b))

d=[2,3,4,5,6,7,8,9,2,3,4,5]
total=[x * y for x,y in zip(c,d)]
total = sum(total)%11
validate = 11-total
if validate == int(a[-1]):
    print("유효하다")
else:
    print("유효하지 않다")

810511-1223617
유효하다

In [78]:
! pip3 install requests

Collecting requests
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 525 kB/s eta 0:00:01
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.6-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 3.7 MB/s eta 0:00:01
Collecting idna<4,>=2.5
  Downloading idna-3.2-py3-none-any.whl (59 kB)
     |████████████████████████████████| 59 kB 7.2 MB/s  eta 0:00:01
Collecting certifi>=2017.4.17
  Downloading certifi-2021.5.30-py2.py3-none-any.whl (145 kB)
     |████████████████████████████████| 145 kB 10.5 MB/s eta 0:00:01
Collecting charset-normalizer~=2.0.0
  Downloading charset_normalizer-2.0.4-py3-none-any.whl (36 kB)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2021.5.30 charset-normalizer-2.0.4 idna-3.2 requests-2.26.0 urllib3-1.26.6
WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [80]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()
print(btc)

{'status': '0000', 'data': {'opening_price': '57552000', 'closing_price': '57456000', 'min_price': '57400000', 'max_price': '58372000', 'units_traded': '710.67699523', 'acc_trade_value': '41127926018.3133', 'prev_closing_price': '57532000', 'units_traded_24H': '1853.88320236', 'acc_trade_value_24H': '106510566667.3772', 'fluctate_24H': '224000', 'fluctate_rate_24H': '0.39', 'date': '1629593518529'}}

In [81]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
print(btc)

{'opening_price': '57552000', 'closing_price': '57429000', 'min_price': '57400000', 'max_price': '58372000', 'units_traded': '710.81636921', 'acc_trade_value': '41135937044.9617', 'prev_closing_price': '57532000', 'units_traded_24H': '1853.92197634', 'acc_trade_value_24H': '106512818991.5257', 'fluctate_24H': '186000', 'fluctate_rate_24H': '0.32', 'date': '1629593538799'}

In [85]:
변동폭 = float(btc["max_price"])-float(btc["min_price"])
트렌드 = float(btc["opening_price"])+변동폭
if 트렌드 > float(btc["max_price"]):
    print("상승장", 트렌드, btc["max_price"])
else:
    print("하락장")

상승장 58524000.0 58372000

# 131 - 140

In [86]:
과일 = ["사과", "귤", "수박"]
for i in 과일:
    print(i)

사과
귤
수박

In [87]:
for 변수 in ["A", "B", "C"]:
    print(변수)

A
B
C

In [88]:
for 변수 in ["A", "B", "C"]:
    print("출력:", 변수)

출력: A
출력: B
출력: C

In [89]:
for 변수 in ["A", "B", "C"]:
    b = 변수.lower()
    print("변환:", b)

변환: a
변환: b
변환: c

In [90]:
x = [10,20,30]
for i in x:
    print(i)

10
20
30

In [93]:
x = [10,20,30]
for i in x:
    print(i)
    print("_  _  "*5)

10
_  _  _  _  _  _  _  _  _  _
20
_  _  _  _  _  _  _  _  _  _
30
_  _  _  _  _  _  _  _  _  _

# 141 - 150

In [94]:
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [95]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print(i)

김밥
라면
튀김

In [96]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4