# 101 - 120

In [2]:
print(3==5)

False

In [3]:
print(3<5)

True

In [4]:
x=4
print(1<x<5)

True

In [5]:
print((3==3) and (4!=3))

True

In [6]:
print(3=>4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (254355066.py, line 1)

In [7]:
print(3>=4)

False

In [8]:
if 4<3:
    print("hello")

In [9]:
if 4<3:
    print("hello")
else:
    print("hi")

hi

In [11]:
if True:
    print("1")
    print("2")
else:
    print("3")
print("4")

1
2
4

In [12]:
if True:
    if False:
        print("1")
        print("2")
    else:
        print("3")
else:
    print("4")
print("5")

3
5

# 111 - 120

In [14]:
print(str(input()) *2)

안녕하세요
안녕하세요안녕하세요

In [15]:
a=int(input("숫자를 입력하세요: "))
print(a+10)

숫자를 입력하세요: 30
40

In [17]:
a = int(input())
if a % 2 ==0:
    print("짝수")
else:
    print("홀수")

30
짝수

In [18]:
a = int(input())
[print("짝수") if a %2 ==0 else print("혹수")]

30
짝수

[None]

In [21]:
a = int(input())
if a >= 235:
    print("255")
else:
    print(a+20)

240
255

In [23]:
a = int(input())
b = a-20
if b <= 0:
    print("0")
else:
    print(b)

15
0

In [26]:
a = str(input())
h,m = a.split(":")
if m == "00":
    print("정각 입니다")
else:
    print("정각이 아닙니다")

12:00
정각 입니다

In [28]:
a = input()
m = a[-2:]
if m == "00":
    print("정각 입니다")
else:
    print("정각이 아닙니다")

13:00
정각 입니다

In [30]:
fruit = ["사과", "포도", "홍시"]
a = input()
if a in fruit:
    print("정답입니다")
else:
    print("오답입니다")

바나나
오답입니다

In [31]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
a = input()
if a in warn_investment_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고가 아닌 종목입니다")

ms
투자 경고가 아닌 종목입니다

In [33]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input()
if a in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다")

겨울
오답입니다

In [36]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input()
if a in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다")

토마토
정답입니다.

# 121 - 130

In [40]:
a = input()
if a.islower():
    print(a.upper())
else:
    print(a.lower())

T
t

In [45]:
환율 = {"달러":1167,"엔":1.096,"유로":1268,"위안":171}
a = input()
단위 = a.split()[1]
금액 = a.split()[0]
print(int(금액) * int(환율[단위]))

10 유로
12680

In [46]:

a= int(input())
b= int(input())
c= int(input())

print(max(a,b,c))

2
4
6
6

In [48]:
번호앞자리 = {"011":"SKT", "016":"KT","019":"LGU","010":"알수없음"}
a = input()
print("당신은",번호앞자리[a[:3]],"사용자입니다")

019-783-9383
당신은 LGU 사용자입니다

In [50]:
우편번호 = {"강북구":["010","011","012"],"도봉구":["013","014","015"],"노원구":["016","017","018"]}
a = input()
앞자리 = a[:3]
for key, value in 우편번호.items():
    if 앞자리 in value:
        print(key)

01592
도봉구

In [60]:
a = input()
if a.split("-")[1][0] in ["1","3"]:
    print("남자")
else:
    print("여자")

821010-3635210
남자

In [68]:
a = input()

if 0 <= int(a.split("-")[1][1:3]) <=8:
    print("서울")
    
elif 9 <= int(a.split("-")[1][1:3]) <= 12:
    print("부산")
else:
    print("아니다")

821010-1075210
서울

In [65]:
a = "821010-1635210"
print(0 <= int(a.split("-")[1][1:3]) <=8)

False

In [76]:
a = input()
b = a.replace("-","")
c = list(map(int, b))

d=[2,3,4,5,6,7,8,9,2,3,4,5]
total=[x * y for x,y in zip(c,d)]
total = sum(total)%11
validate = 11-total
if validate == int(a[-1]):
    print("유효하다")
else:
    print("유효하지 않다")

810511-1223617
유효하다

In [80]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()
print(btc)

{'status': '0000', 'data': {'opening_price': '57552000', 'closing_price': '57456000', 'min_price': '57400000', 'max_price': '58372000', 'units_traded': '710.67699523', 'acc_trade_value': '41127926018.3133', 'prev_closing_price': '57532000', 'units_traded_24H': '1853.88320236', 'acc_trade_value_24H': '106510566667.3772', 'fluctate_24H': '224000', 'fluctate_rate_24H': '0.39', 'date': '1629593518529'}}

In [81]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
print(btc)

{'opening_price': '57552000', 'closing_price': '57429000', 'min_price': '57400000', 'max_price': '58372000', 'units_traded': '710.81636921', 'acc_trade_value': '41135937044.9617', 'prev_closing_price': '57532000', 'units_traded_24H': '1853.92197634', 'acc_trade_value_24H': '106512818991.5257', 'fluctate_24H': '186000', 'fluctate_rate_24H': '0.32', 'date': '1629593538799'}

In [85]:
변동폭 = float(btc["max_price"])-float(btc["min_price"])
트렌드 = float(btc["opening_price"])+변동폭
if 트렌드 > float(btc["max_price"]):
    print("상승장", 트렌드, btc["max_price"])
else:
    print("하락장")

상승장 58524000.0 58372000

# 131 - 140

In [86]:
과일 = ["사과", "귤", "수박"]
for i in 과일:
    print(i)

사과
귤
수박

In [87]:
for 변수 in ["A", "B", "C"]:
    print(변수)

A
B
C

In [88]:
for 변수 in ["A", "B", "C"]:
    print("출력:", 변수)

출력: A
출력: B
출력: C

In [89]:
for 변수 in ["A", "B", "C"]:
    b = 변수.lower()
    print("변환:", b)

변환: a
변환: b
변환: c

In [90]:
x = [10,20,30]
for i in x:
    print(i)

10
20
30

In [93]:
x = [10,20,30]
for i in x:
    print(i)
    print("_  _  "*5)

10
_  _  _  _  _  _  _  _  _  _
20
_  _  _  _  _  _  _  _  _  _
30
_  _  _  _  _  _  _  _  _  _

# 141 - 150

In [94]:
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [95]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print(i)

김밥
라면
튀김

In [96]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [1]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i,len(i))

dog 3
cat 3
parrot 6

In [2]:
리스트 = ['dog', 'cat', 'parrot']
[print(x[0]) for x in 리스트]

d
c
p

[None, None, None]

In [3]:
리스트 = [1, 2, 3]
[print("3 x ",x) for x in 리스트]

3 x  1
3 x  2
3 x  3

[None, None, None]

In [4]:
리스트 = [1, 2, 3]
[print("3 x {}={}".format(x, 3*x)) for x in 리스트]

3 x 1=3
3 x 2=6
3 x 3=9

[None, None, None]

In [5]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [6]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [7]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

# 151 - 160

In [8]:
리스트 = [3, -20, -3, 44]
[print(x) for x in 리스트 if x < 0]

-20
-3

[None, None]

In [9]:
리스트 = [3, 100, 23, 44]
[print(x) for x in 리스트 if x % 3 ==0]

3

[None]

In [10]:
리스트 = [13, 21, 12, 14, 30, 18]
[print(x) for x in 리스트 if x % 3 ==0 and x <20]

12
18

[None, None]

In [11]:
리스트 = ["I", "study", "python", "language", "!"]
[print(x) for x in 리스트 if len(x) >= 3]

study
python
language

[None, None, None]

In [12]:
리스트 = ["A", "b", "c", "D"]
[print(x) for x in 리스트 if x.isupper()]

A
D

[None, None]

In [14]:
리스트 = ["A", "b", "c", "D"]
[print(x) for x in 리스트 if x.islower()]

b
c

[None, None]

In [19]:
리스트 = ['dog', 'cat', 'parrot']
for x in 리스트:
    print(x[0].upper()+x[1:])

Dog
Cat
Parrot

In [21]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
[print(x.split(".")[0]) for x in 리스트]

hello
ex01
intro

[None, None, None]

In [22]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
[print(x) for x in 리스트 if x.split(".")[1]=='h' ]

intra.h
define.h

[None, None]

In [23]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
[print(x) for x in 리스트 if x.split(".")[1] in ['h','c'] ]

intra.h
intra.c
define.h

[None, None, None]

# 161 - 170

In [1]:
for i in range(0,100):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [2]:
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [3]:
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [4]:
for i in range(99,0,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [5]:
for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [10]:
for num in range(10) :
    print(num / 10, num)

0.0 0
0.1 1
0.2 2
0.3 3
0.4 4
0.5 5
0.6 6
0.7 7
0.8 8
0.9 9

In [11]:
for i in range(1,10):
    print("3 x {} = {}".format(i,3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [12]:
for i in range(1,10,2):
    print("3 x {} = {}".format(i,3*i))

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [13]:
total = 0
for i in range(11):
    total += i
print(total)

55

In [14]:
total = 0
for i in range(1,11,2):
    total += i
print(total)

25

In [17]:
total = 1
for i in range(1,11):
    total *= i
print(total)

3628800

In [18]:
result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

# 171 - 180

In [19]:
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

32100
32150
32000
32500

In [20]:
price_list = [32100, 32150, 32000, 32500]
for x,y in zip(range(4),price_list):
    print(x,y)

0 32100
1 32150
2 32000
3 32500

In [21]:
price_list = [32100, 32150, 32000, 32500]
for x,y in enumerate(price_list):
    print(x,y)

0 32100
1 32150
2 32000
3 32500

In [22]:
price_list = [32100, 32150, 32000, 32500]
for x,y in zip(range(3,-1,-1),price_list):
    print(x,y)

3 32100
2 32150
1 32000
0 32500

In [24]:
for i in range(len(price_list)):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [25]:
price_list = [32100, 32150, 32000, 32500]
index = range(100,121,10)
for x,y in zip(index, price_list):
    print(x,y)

100 32100
110 32150
120 32000

In [27]:
for i in range(1,4):
    print(90+10*i, price_list[i])

100 32150
110 32000
120 32500

In [28]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [29]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [35]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list),1,-1):
    print(my_list[i-1],my_list[i-2])

라 다
다 나
나 가

In [37]:
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [38]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    print((my_list[i+2] + my_list[i+1] + my_list[i])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [42]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
diff_list=[]
for x,y in zip(high_prices,low_prices):
    diff = x-y
    diff_list.append(diff)
print(diff_list)

[50, 100, 30, 80, 0]

# 181 -190

In [43]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

In [44]:
stock = [ [100, 200, 300], [80,210,330 ]]

In [45]:
stock = {'시가':[100, 200, 300], '종가':[80,210,330 ]}

In [46]:
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [47]:
stock = {'10/10':[100, 200, 300], '10/11':[80,210,330 ]}

In [48]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print(apart[i][0])
    print(apart[i][1])

101
102
201
202
301
302

In [49]:
for row in apart:
    for i in row:
        print(i)

101
102
201
202
301
302

In [55]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for x in i[::-1]:
        print(x)

302
301
202
201
102
101

In [58]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for x in i:
        print(x)
        print("---------")

101
---------
102
---------
201
---------
202
---------
301
---------
302
---------

In [60]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for x in i:
        print(x)
    print("---------")

101
102
---------
201
202
---------
301
302
---------

In [61]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for x in i:
        print(x)
print("---------")

101
102
201
202
301
302
---------

# 191 - 200

In [62]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for line in data:
    for column in line:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [63]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for line in data:
    for column in line:
        print(column * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [67]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for line in data:
    aa = []
    for column in line:
        aa.append(column * 1.00014)
    result.append(aa)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [71]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    for x in i[3:]:
        print(x)

100
190
310

In [73]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
[print(i[3]) for i in ohlc[1:] if i[3] > 150]

190
310

[None, None]

In [74]:
[print(i[3]) for i in ohlc[1:] if i[3] >= i[0]]

100
310

[None, None]

In [75]:
valatility = [i[1]-i[2] for i in ohlc[1:]]
valatility

[40, 30, 10]

In [77]:
[i[1]-i[2] for i in ohlc[1:] if i[3] > i[0]]

[10]

In [79]:
sum([i[3]-i[0] for i in ohlc[1:]])

0