# 1 - 10

In [1]:
print("Hello world")

Hello world

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
print('"C:\Windows"')

"C:\Windows"

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다")

안녕하세요.
만나서		반갑습니다

In [6]:
print("오늘은","일요일")

오늘은 일요일

## 중요

In [10]:
print("naver;kakao;samsung")
print("naver","kakao","samsung", sep=";")

naver;kakao;samsung
naver;kakao;samsung

In [11]:
print("naver","kakao","samsung",sep="/")

naver/kakao/samsung

## 중요

In [15]:
print("first", end="");print("second")

firstsecond

In [16]:
5/3

1.6666666666666667

# 11 - 20

In [17]:
삼성전자 = 50000
평가금액 = 삼성전자 * 10
print(평가금액)

500000

In [19]:
시가총액 = 298000000
현재가 = 50000
per = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(per, type(per))

298000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [20]:
s="hello"
t= "python"
print(s+"!",t)

hello! python

In [21]:
2+2*3

8

In [22]:
a=128
print(type(a))
a = "132"
print(type(a))

<class 'int'>
<class 'str'>

In [24]:
num_str = "720"
num_str = int(num_str)
print(num_str+1, type(num_str))

721 <class 'int'>

In [25]:
num =100
string = str(num)
print(string, type(string))

100 <class 'str'>

In [26]:
a = "15.79"
b = float(a)
print(b, type(b))

15.79 <class 'float'>

In [27]:
year = "2020"
year = int(year)
print(year -2, year -1, year)

2018 2019 2020

In [28]:
에어컨 = 48584
개월 = 36
총금액 = 에어컨 * 개월
print(총금액)

1749024

# 21 - 30

In [29]:
letter = "python"
print(letter[0],letter[2])

p t

In [30]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

## 중요

In [32]:
string="홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [34]:
string ="python"
string[::-1]

'nohtyp'

In [36]:
phone_number = "010-1111-2222"
phone_number.replace("-"," ")

'010 1111 2222'

In [37]:
phone_number

'010-1111-2222'

In [40]:
url = "http://sharebook.kr"
url[-2:]

'kr'

In [42]:
url.split(".")[1]

'kr'

In [43]:
lang = "python"
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [44]:
string = 'abcdfe2a354a32a'
string.replace('a','A')

'Abcdfe2A354A32A'

## 중요

In [45]:
string = 'abcd'
string.replace('b','B')
print(string)

abcd

abcd가 그대로 출력됩니다. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다. replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해줍니다.

# 031 - 040

In [46]:
a ="3"
b = "4"
print(a+b)

34

In [47]:
print('hi' * 3)

hihihi

In [48]:
print('-' * 80)

--------------------------------------------------------------------------------

In [59]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' +t2+' '
print(t3 *4)

python java python java python java python java

In [60]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

## 중요

In [61]:
print("이름: %s 나이: %d"%(name1,age1))
print("이름: %s 나이: %d"%(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [65]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [67]:
상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(",","")
print(int(상장주식수))

5969782550

In [69]:
분기 = "2020/03(E) (IFRS연결)"
분기.split("(E")[0]

'2020/03'

In [70]:
분기[:7]

'2020/03'

In [71]:
data = "   삼성전자    "
print(data.strip())

삼성전자

# 041 - 050

In [74]:
ticker = "btc_krw"
ticker = ticker.upper()
ticker

'BTC_KRW'

In [75]:
ticker.lower()

'btc_krw'

## 중요

In [77]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

## 중요

In [79]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls"))

True

In [80]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [82]:
a = "hello world"
a.split()

['hello', 'world']

In [83]:
a = "hello world"
a.split(" ")

['hello', 'world']

In [84]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [86]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [87]:
data = "039490     "
data.rsplit()

['039490']

# 051 - 060

In [89]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [92]:
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨', '배트맨']

In [94]:
movie_rank.insert(1,"슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '슈퍼맨', '스플릿', '럭키', '배트맨', '배트맨']

In [97]:
del movie_rank[4]
movie_rank

['닥터 스트레인지', '슈퍼맨', '슈퍼맨', '스플릿', '배트맨', '배트맨']

In [98]:
del movie_rank[-3:]
movie_rank

['닥터 스트레인지', '슈퍼맨', '슈퍼맨']

In [99]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [101]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max:",max(nums))
print("min:",min(nums))

max: 7
min: 1

In [102]:
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [104]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [107]:
nums = [1, 2, 3, 4, 5]
sum(nums)/len(nums)

3.0

# 061 - 070

In [108]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [109]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [110]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [111]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [114]:
interest = ['삼성전자', 'LG전자', 'Naver']
interest[::2]

['삼성전자', 'Naver']

In [116]:
print(interest[0],interest[2])

삼성전자 Naver

In [117]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
(" ").join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [118]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(("/").join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [119]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(("\n").join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [120]:
string = "삼성전자/LG전자/Naver"
print(string.split("/"))

['삼성전자', 'LG전자', 'Naver']

In [122]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [124]:
# 저장이 안됨
data = [2, 4, 3, 1, 5, 10, 9]
sorted(data)

[1, 2, 3, 4, 5, 9, 10]

# 071 - 080

In [128]:
my_variable = ()
print(my_variable, type(my_variable))

() <class 'tuple'>

In [129]:
movie_rank = "닥터 스트레인지","스플릿","럭키"
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

아래와 같이 괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다. type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.

In [133]:
tu = (1)
print(type(tu),tu)

<class 'int'> 1

하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해만 합니다.

In [134]:
tu = (1,)
print(type(tu),tu)

<class 'tuple'> (1,)

In [135]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [136]:
t = 1, 2, 3, 4
print(t,type(t))

(1, 2, 3, 4) <class 'tuple'>

In [138]:
t = ('a', 'b', 'c')
t = list(t)
t[0]='A'
tuple(t)

('A', 'b', 'c')

새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.

In [139]:
t = ('a', 'b', 'c')
t = ('A','b', 'c')
t

('A', 'b', 'c')

In [140]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [141]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [142]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a,b,c)

apple banana cake

In [152]:
[x for x in range(1,100) if x%2 ==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [148]:
print(tuple(range(2,100,2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 081 - 090

In [156]:
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)

0
1
[2, 3, 4, 5]

In [157]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*a,b,c = scores
print(a)
print(b)
print(c)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]
7.8
9.4

In [158]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,_,_ = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [159]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,_,*valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [160]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,*valid_score,_ = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [161]:
temp = {}
type(temp)

dict

In [164]:
ice = {"메로나":1000,"폴라포":1200,"빵빠레":1800}
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [167]:
ice["죠스바"] = 1200
ice["월드콘"] = 1500
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [168]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice["메로나"]

1000

In [169]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice["메로나"] = 1300
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [170]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice["메로나"]
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [171]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

# 091 - 100

In [172]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [173]:
inventory["메로나"][0]

300

In [174]:
inventory["메로나"][1]

20

In [175]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500,7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [177]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [178]:
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

In [179]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
sum(list(icecream.values()))

6700

In [180]:
sum((icecream.values()))

6700

In [182]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [186]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000,'탱크보이': 1500 }
icecream.update(new_product)
icecream

{'탱크보이': 1500,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [189]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
dict(zip(keys,vals))

{'apple': 300, 'pear': 250, 'peach': 400}

In [190]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date,close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}